---
title: (GL) Finance for Geeks
homework: 1) Post reflection to Latte; 2) Post answers to Jeffrey Beir's questions
desc: Guest Speaker "Money is the lifeblood of any business! What are the fundamental tools for the technical co-founder?"
cat: Revenue
---
<%= homework_hdr %>
1. From Jeffrey Beir: View this video: http://mjskok.com/resource/funding-strategies-to-go-distance.  I won’t cover all this financing strategy in this, but will focus more on how to think about milestones, capital and proof. <%= deliverable "Do warmup questions for today's reading" %>
1. From Jeffrey Beir: Many of you have paired up with another student on a prospective term project. Some of you should have done that, even without a pair, on your own. We will continue discussing those more on Thursday. Thinking of the project you are currently considering, and in discussion with your pair (if you have one), and answer these questions: 1) How would you define success at your first milestone? 2) How will you measure that success, e.g. which independent metrics will you show? <%= deliverable "Post your answer to those questions. Make sure you include the name of the product you are talking about and a very brief description. Without that it is impossible to understand your success metrics!" %>

## Guest Lecturer

* Our speaker today is Jeffrey Beir. You can find [information about Jeffrey on LinkedIn.](https://www.linkedin.com/profile/view?id=AAkAAAAFXZsBrM07bLcPh7RTJjTYVAXzbWPYCAo)

<a class="embedly-card" href="https://www.linkedin.com/in/jbeir">Jeffrey Beir | LinkedIn</a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

## Key Points
* Developing a plan that balances capital/time/milestones
* Deciding what need to do now, and what can be deferred
* Defining your financing milestones
* Determining how much capital to raise for your first milestone
* Ensuring you position yourself for the next financing, ideally at a step-up

## Jeffrey's links
* [Slides from today's class](http://finance4geeks.seed2a.com/)
* [Operating Model Spreadsheet](http://operatingmodel.seed2a.com/)

## Next Class
* Look at homework: <%= link_to_next_lecture %>
