---
title: Cosi 165a
---
<div class="jumbotron">
  <h2>Software Entrepreneurship</h2>
  <p>Learn the "Lean Startup" conceptual framework. Find a fruitful problem space, conceive of a solution, test it, measure it, and iterate on it methodically and quickly. Have you achieved product/market fit? Does your solution have a chance as a viable business? Better to figure out before implementing the whole product! We will look at that cycle from different perspectives and with different points of view. We will learn this while working in teams to apply what we learn to two real world scenarios.</p>
  <p>Pito Salas, pitosalas@brandeis.edu</p>
</div>

**We want to take an idea** -- let's say a 'good idea' (see <%= link_to_topic :ideas_are_cheap %>) -- to fruition as a business that has a chance to make real money and/or have an big imact on a many real people's lives. Not a hobby that you pursue because you'd like to learn and grow -- which is fine -- but something that you have real reason to believe will make a big difference. It is said that 9 out of 10 startups fail. Our goal is to improve your odds.

**This is not a software engineering course!**It is a course that helps you discover and practice the discipline and tools to develop your idea and to assure that it will meet its goals - like making money and/or having an actual real impact on the world.

I use the line "is this a hobby or a business." For this course I am not interested in doing a project because it's fun or you get to learn how to use rails or javascript. Those are great personal goals which are fine but will not effect a change in the world.

### Complete Outline of Lectures

<%= list_of(source: "lectures", rows: ["subsection","page"], cols: [:number, :date, :title, :desc, :homework, ], items: items) %>
